@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root {
  font-family: "Limelight", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcomeLink {
  font-weight: 500;
  color: antiquewhite;
  text-decoration: none;
}
.welcomeLink :hover {
  color: rgb(215, 207, 196)
}

.mainContainer {
  font-family: "Limelight", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 100%;
}

.welcomeImage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  max-height: 70vh;
  border-radius: 25px;
}

.welcomeInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FAEBD7;
background: linear-gradient(0deg, rgba(250, 235, 215, 1) 0%, rgba(183, 189, 149, 1) 100%);
  padding: 20px;
  border-radius: 25px;
  max-width: 450px;
  gap: 20px;
  box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
}

body{
  background-image: url(./assets/background.jpg);
  font-family: "Limelight", sans-serif;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.welcomeButton {
  border-radius: 25px;
  padding: 0.6em 1.2em;
  max-width: 450px;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  background: #5b6143;
background: linear-gradient(0deg, rgba(91, 97, 67, 1) 0%, rgba(131, 136, 95, 1) 100%);
  cursor: pointer;
  text-decoration: none;
  color: antiquewhite;
  margin-top: 15px;
  width: 80%;
  box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
}

.welcomeButton :hover {
  background-color: #626547;
}

.welcomeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

.title{
  background: #5b6143;
background: linear-gradient(0deg, rgba(91, 97, 67, 1) 0%, rgba(131, 136, 95, 1) 100%);
  border-radius: 25px;
  padding: 10px;
  font-size: 48px;
  color: antiquewhite;
  box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 17px 16px 30px 0px rgba(0,0,0,0.78);
}

.welcomeContainer p {
  font-size: 18px;
  margin-top: 2%;
}

.sectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 25px;
  margin-top: 20px;
}

.cardContainer{
  display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

@media (max-width: 767px) {
    .cardContainer {
        grid-template-columns: 1fr; 
      }
}
